
/*** Navbar ***/
.sticky-top {
    top: -150px;
    transition: .5s;
    background-color: rgba(22, 22, 28, 1);
}

*{
    transition: all .2s ease-in-out;
}

.navbar {
    padding: 11px 0 !important;
    height: 75px;
    background-color: rgba(22, 22, 28, 1);
}
.navbar-brand img{
    width: 200px;
    cursor: pointer;
}
.navbar .navbar-nav .nav-link {
    display: inline;
    margin-right: 28px;
    padding: 0;
    color: rgba(160, 160, 160, 1) !important;
    outline: none;
}
.down{
    color: white !important;
}
.navbar .navbar-nav .down {
    display: inline-block;
    color: white !important;
    border: 1px solid  rgba(128, 0, 128, 1);
    border-radius: 5px;
    padding: 9px 20px !important;
    background: rgba(128, 0, 128, 1);
    cursor: pointer;
    text-align: center;
}
.navbar .navbar-nav .downs {
    display: inline-block;
    padding: 9px 20px ;

}

.navbar-dark .navbar-nav .nav-link.active {
    color: white !important;
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

a{
    text-decoration: none !important;
}

@media (max-width: 991.98px) {
    .navbar .navbar-nav {
        padding: 5px 15px;
        background: rgba(22, 22, 28, 1);
    }

    .navbar .navbar-nav .nav-link  {
        margin-right: 0;
        padding: 10px 0;
    }
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        border: none;
        margin-top: 0;
        top: 150%;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}
.bg-hero{
    background-color:rgba(22, 22, 28, 1) ;
}
.stores{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
	margin: -8px;
	padding: 0;
	justify-content: space-evenly;
    align-content: center;

}
.apple{
	margin: 10px;   
}
.apple a{
    width: 260px;
	height: 75px;
	background:  rgba(0, 0, 0, 1);
    display: flex;
	float: left;
	border-radius: 10px;
	color: #fff;
	cursor: pointer;
	border: 1px solid  rgba(0, 0, 0, 1);
    
}
.apple .inlin{
    display: inline-block;
    line-height: 10px;
    padding: 20px 0px 10px 26px;
}
.apple img{
 width: 22%;
 object-fit: contain;
}
.apple:hover{
	filter: grayscale(100%);
}
.phone img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.steps{ 
    max-width: 800px !important;
    margin-left: auto;
    margin-right: auto;
}
.steps h2{
    color: #fff;
    font-size: 45px;
}
.steps ul {
    list-style: none;
    padding: 0;
}

.steps li {
    font-size: 28px;
    color: #fff;
    font-weight: 400; 
    
}
.steps .lhight {
    font-size: 28px;
    color: #fff;
    font-weight: 400; 
    line-height: 50px;
}

.steps li::before {
    content: '\2022'; /* Bullet character */
    color: rgba(128, 0, 128, 1); /* Purple color */
    font-size: 70px; /* Adjust the size as needed */
    vertical-align: middle;
    margin: 10px;
}
.steps  p{
    font-size: 16px;
    color: rgba(160, 160, 160, 1);
    max-width: 800px !important;
    margin-left: 44px;
}

.banner {
    position: relative;
    height: auto; /* Adjust height as needed */
    text-align: center;
    color: white; /* Text color */
  }
  .banner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/img/ghd\ wallpaper.png');
    background-size: cover;
    background-position: center;
    opacity: 0.7; /* Reduce opacity */
  }
  .banner-content {
    position: relative;
    z-index: 1; /* Ensure content appears above the overlay */
    padding-top: 24px; /* Adjust top padding as needed */
  }
  .banner h3{
    color: #fff;
  }
  .purpple{
    color: white !important;
}
.purpple {
    display: inline-block;
    color: white !important;
    border: 1px solid  rgba(128, 0, 128, 1);
    border-radius: 5px;
    padding: 9px 20px !important;
    background: rgba(128, 0, 128, 1);
    cursor: pointer;
    text-align: center;
}
.offline .card{
    background: rgba(39, 40, 40, 0.7);  
    border-radius: 20px;
}
.offline h5{
    color: #fff;
    text-decoration: underline;
    font-weight: 600;
    font-size: 23px;
}
.card-text{
    color: rgba(160, 160, 160, 1);
    font-size: 12px;
}
.checked p{
    font-size: 12px;

}
.checked .pup{
    color: rgba(128, 0, 128, 1);
    margin-right: 10px;
}

.checked .dar{
    color: rgba(51, 51, 51, 1);
    margin-right: 10px;
}
@media (max-width: 810px) {

    .offline .card{
        background: rgba(39, 40, 40, 0.7);  
        border-radius: 20px;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

}

.abt .card{
    background-color: rgba(39, 40, 40, 1);
    padding: 10px;
    border-radius: 0px 50px 50px 50px;
}
.abt h3{
    color: #fff;
    font-size: 50px;
    font-weight: 550;
}
.abt p{
    color: #fff;
    line-height: 35px;
    font-size: 18px;
    letter-spacing: 0.7px;
}

  .faq-container h3{
    font-size: 40px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    
  }
  .question {
    
    padding: 10px;
    cursor: pointer;
  }
  .question p{
    font-size: 25px;
    color: #fff;
  }
  .question hr{
    color: #ccc;
    height: 3px !important;
    max-width: 517px;
  }
  .answer {
    display: none;
    padding: 10px;
    transition: max-height 0.3s ease-out;
    overflow: hidden;
    max-width: 917px;
  }
  .answer li{
    color: rgba(255, 196, 255, 1);
    font-size: 16px;
  }
  .banner-overlays {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/img/GHDimg.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.7; 
    border-radius: 15px;
  }
  .banner-contents {
    position: relative;
    z-index: 1;
    padding-top: 24px;
  }
  .apples{
	margin: 10px;   
}
.apples a{
    width: 382px;
    height: 100px;
	background:  rgba(0, 0, 0, 1);
    display: flex;
	float: left;
	border-radius: 10px;
	color: #fff;
	cursor: pointer;
	border: 1px solid  #ccc;
    
}
.apples .inlin{
    display: inline-block;
    line-height: 10px;
    padding: 28px 0px 10px 26px;
}
.apples img{
 width: 22%;
 object-fit: contain;
}
.apples:hover{
	filter: grayscale(100%);
}
.thor h4{
    text-align: center;
    color: #fff;
    font-size: 35px;
}
.footer{
    background: rgb(44 43 43);
    align-items: center;
}
.wow a{
    text-decoration: underline;
    color: rgba(141, 141, 141, 1);
    text-align: center;
}
.wow h5{
    text-align: center;
}
